.RAPIContainer {
	position: relative;
	border: 2px solid gold;
}

.RAPIContainer:focus {
	outline: none;
}

.RAPIContainer > canvas {
	position: absolute;
	left: 0px;
	top: 0px;
}


.hidden {
	display: none !important;
}


